
        body {
            background-image: url(imagemm/30-4K-Mario-Wallpapers-Background-Images-1024x576.jpg);
            margin: 0;
            padding: 0;
            height: 100vh; 
            background-size: cover; 
            background-position: center;
            display: flex; 
            justify-content: center; 
            align-items: center; 
            color: white; 
        }
        .container {
            background-color: rgba(0, 0, 0, 0.7); 
            padding: 30px;
            border-radius: 10px;
        }
